{% extends 'layout.html' %}


{% block body %}
    <div class="row">
        {% for post in posts %}
            <div class="col-sm-3">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">{{ post.header }}</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.text }}</p>
                        <a href="#" class="btn btn-outline-light">Read Now</a>
                  </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}