{% extends 'layout.html' %}


{% block body %}
    <div class="container my-5">
        <div class="row">
            {% for post in posts %}
                <div class="col">
                    <div class="card border-dark mb-3" style="width: 18rem; height: 15rem;">
                        <div class="card-header">{{ post.header }}</div>
                        <div class="card-body text-dark">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.text }}</p>
                            <a href="#" class="btn btn-outline-light">Read Now</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-dark">Last updated 3 mins ago</small>
                    </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}